*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(77, 223, 89), rgb(60, 198, 216));
    }
  
    .calculator-grid {
      display: grid;
      justify-content: center;
      align-content: center;
      min-height: 100vh;
      grid-template-columns: repeat(4, 100px);
      grid-template-rows: minmax(120px, auto) repeat(5, 100px);
      }
  
      .calculator-grid > button {
        cursor: pointer;
        font-size: 29px;
        border: 1px, solid #FFFFFF;
        outline: none;
        background-color: rbga(255, 255, 255, 0.75);
      }
  
        .calculator-grid > button:hover {
          background-color: #f37f7f;
        }
  
        .span-two {
          grid-column: span 2;
          color: #a202ca;
          background-color: rgba(226, 250, 7, 0.8);
        }
  
        .output{
          grid-column: 1 / -1;
          background-color: rgba(0, 0, 0, 0.75);
          display: flex;
          align-items: flex-end;
          justify-content: space-around;
          flex-direction: column;
          padding: 13px;
          word-wrap: break-word;
          word-break: break-all;
        }
  
        .output .previous-operand{
          color: rgba(255,255, 255, 0.75);
          font-size: 20px;
        }
  
        .output .current-operand{
          color: white;
          font-size: 39px;
        }

h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 15px;
    color: rgb(247, 245, 242);
    font-weight:300;
}        